Policies/*

venv/*
*/__pycache__/*
*/*/__pycache__/*
*/*/*/__pycache__/*
*/*/*/*/__pycache__/*
*.pyc
*/*.pyc
*/*/*.pyc
*/*/*/*.pyc
*/*/*/*/*.pyc
*/*/*/*/*/*.pyc
tmp_problem_generation
*/tmp_problem_generation
*/*/tmp_problem_generation
*.Po
*/*.Po
*/*/*.Po
*/*/*/*.Po
*/*/*/*/*.Po
*/*/*/*/*/*.Po
*/*/*/*/*.Plo
*/*/*/*/*/*.Plo
*.o
*/*.o
*/*/*.o
*/*/*/*.o
*/*/*/*/*.o
*/*/*/*/*/*.o

*.idea/*
*/*.idea/*
*/*/*.idea/*
*/*/*/*.idea/*
*/*/*/*/*.idea/*
*/*/*/*/*/*.idea/*
*/*/*/*/*/*/*.idea/*
*/*/*/*/*/*/*/*.idea/*
*/*/*/*/*/*/*/*/*.idea/*
*/*/*/*/*/*/*/*/*/*.idea/*
#tools

